.App {
  text-align: center;
  font-family: 'Raleway, Garamond, serif';
  zoom: 80%;
  background-color: #67b04d0f;
}

.Body {
  color: #1C8A43;
  font-size: 24px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 8px;
}

a {
  color: #3366CC;
}

hr {
  border-top: 1.5px solid #67b04dc0;
  margin-top: 0px;
  margin-bottom: 18px;
  margin-left: 18px;
  margin-right: 18px;
}

.App-header {
  background-color: white;
  height: calc(15vh);
  align-items: center;
  font-size: calc(16px + 6vmin);
  font-weight: bold;
  color: #1C8A43;
  padding-left: 2%;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  position: absolute;
  left: -5px;
  top: 5px;
  z-index: 10;
  width: fit-content;
  height: fit-content
}

.app-logo-image {
  height: calc(75px + 5vmin);
}

.App-link {
  color: #68B04DD9;
  font-size: calc(6px + 1.5vmin)
}

.pre-explanation {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
}

.Container {
  margin-left: 1%;
  margin-right: 1%;
  color: #1C8A43;
  background-color: #67b04d1d;
}

.results {
  margin-bottom: 10px;
  justify-content: center;
}

h1 {
  color: #1C8A43;
}

.box {
  border-bottom: 2px solid #5d9f46d9;
  border: thick double #68B04DD9;
  background-color: white;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-button {
  border-bottom: 2px solid #5d9f46d9;
  padding: 21px;
  width: auto;
  min-width: calc(300px);
  background-color: white;
  border: thick double #68B04DD9;
  color: hsl(141, 66%, 33%);
  margin: 'auto';
  margin-bottom: 40px !important;
}

.constitution-box {
  border-bottom: 2px solid #5d9f46d9;
  font-size: 20px;
  padding: 4px;
  padding-left: 20px;
  min-width: calc(330px);
  max-width: calc(75%);
  width: auto;
  background-color: white;
  border: thick double #68B04DD9;
  color: hsl(141, 66%, 33%);
  margin: 'auto';
  margin-bottom: 40px !important;
}

button {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  white-space: nowrap;
  background-color: rgb(73, 149, 11) !important;
  border-color: rgb(157, 255, 0);
  font-size: calc(10px + 1.2em);
  border-radius: 200px;
  border: 2px solid #1C8A43 !important;
  background-image: linear-gradient(to bottom,rgba(250,250,250,.3) 10%,rgba(0,0,0,.15));
  padding: 40px;
  font-family: Raleways;
  color: white !important;
}

button:hover {
  background-color: #ed9121 !important;
  color: white;
  border-color: white;
  cursor: pointer;
}

button:active {
  /* background-color: #1c8a42a7 !important; */
  background-color: #814256 !important;
} 

.two-buttons {
  max-width: 300px;
  font-size: 28px;
  border-bottom: 2px solid #5d9f46d9;
  border: thick double #68B04DD9;
  background-color: white;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px;
}

.constitutions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

.constitutions > div {
  flex: 1;
  width: 330px;
}

fieldset {
  border-color: #ffdba5;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 12px;
}

legend {
  font-size: calc(15px + 1vh);
  font-weight: bold;
  color: #1C8A43;
}

input[type="range"] {
  -webkit-appearance: none !important;
  overflow: hidden;
  background-color: #ffdba5;
  height: 25px;
  border-radius: 5px;
  width: calc(140px + 3vw);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 25px;
  border-radius: 5px;
  -webkit-appearance: none;
  color: pink;
}

input[type='range']::-webkit-slider-thumb {
  width: 25px;
  -webkit-appearance: none;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  background: #DFE9AC;
  border: 2px solid black;
  box-shadow: -90px 0 0 90px #68B04DD9;
  box-sizing: border-box;
  z-index: 15;
}

.slider_label {
  font-size: calc(12px + .8vh);
  font-weight: bold;
  color: #1C8A43;
}

.slider_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-container-2 {
  position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_container > div {
  margin-left: 10px;
  margin-right: 10px;
}

.key_info {
  background-color: white;
  /* color: #5d9f46d9; */
  font-weight: bold;
  padding: 15px;
}
.key_info > p {
  max-width: 700px;
  margin: auto;
}

.left-align {
  text-align: left;
}