.App {
  text-align: center;
  font-family: 'Raleway';
  zoom: 80%
}

.Body {
  color: #68B04DD9;
  font-size: 22px
}

a {
  color: #3366CC;
}

.App-header {
  background-color: white;
  height: calc(15vh);
  align-items: center;
  font-size: calc(10px + 6vmin);
  font-weight: bold;
  color: #5d9f46d9;
  padding-left: 2%;
  display: flex;
  justify-content: space-around;
}

.App-logo {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 10;
  width: fit-content;
  height: fit-content
}

.app-logo-image {
  height: calc(80px + 6vmin);
  /* position: relative; */
}

.App-link {
  color: #68B04DD9;
  font-size: calc(6px + 1.5vmin)
}

.pre-explanation {
  margin-left: 25px;
  margin-right: 25px;
}

.Container {
  border: thick double #FFFFFF;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #68B04DD9;
}

.results {
  margin-bottom: 10px;
  justify-content: center;
}

.box {
  border-bottom: 2px solid #1C8A43;
  margin: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;
  background-color: white;
  border: thick double #68B04DD9;
  color: hsl(141, 66%, 33%);
  align-items: center;
}

.box-button {
  border-bottom: 2px solid #1C8A43;
  margin: 10px;
  padding: 10px;
  width: calc(300px);
  background-color: white;
  border: thick double #68B04DD9;
  color: hsl(141, 66%, 33%);
}

.constitutions {
  display: flex;
  justify-content: center;
  gap: 55px;
  flex-wrap: wrap;
}

.constitutions > div {
  flex: 1;
  width: 330px;
}

fieldset {
  border-color: #68B04DD9;
  margin-bottom: 12px;
}

legend {
  font-size: calc(15px + 1vh);
}

button {
  background-color: #FFFFFF;
  color: #1C8A43;
  border-radius: 1px;
  border-color: #1C8A43;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: calc(12px + 1.5vh);
}

button:hover {
  background-color: #68B04DD9;
  color: white;
  border-color: white;
  cursor: pointer;
}

button:active {
  background-color: #1C8A43;
}

input[type="range"] {
  -webkit-appearance: none !important;
  overflow: hidden;
  background-color: #fff3e1;
  height: 16px;
  width: calc(140px + 3vw);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 16px;
  -webkit-appearance: none;
  color: pink;
}

input[type='range']::-webkit-slider-thumb {
  width: 16px;
  -webkit-appearance: none;
  height: 16px;
  cursor: pointer;
  background: #DFE9AC;
  border: 1px solid black;
  box-shadow: -80px 0 0 80px #68B04DD9;
}

.slider_label {
  font-size: calc(12px + .8vh);
  font-weight: bold;
  color: #68B04DD9;
}

.slider_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider-container-2 {
  position: center;
}

.slider_container > div {
  margin-left: 10px;
  margin-right: 10px;
}

.key_info {
  background-color: white;
  color: #1C8A43;
  font-weight: bold;
  padding: 15px;
}